<div id="slideshow">
  <div class="slide-wrapper">
    <div class="slide">
      <img src="../../assets/DSCN0294.JPG" alt="Zeltplatz">
      <div class="text">Zeltplatz</div>
    </div>
    <div class="slide">
      <img src="../../assets/DSCN0354.JPG" alt="Dinosaurierpark">
      <div class="text">Dinosaurierpark</div>
    </div>
    <div class="slide">
      <img src="../../assets/DSCN0660.JPG" alt="Kaktusinsel">
      <div class="text">Kaktusinsel</div>
    </div>
    <div class="slide">
      <img src="../../assets/DSCN0502.JPG" alt="Salzwüste Uyuni">
      <div class="text">Salzwüste Uyuni</div>
    </div>
  </div>
</div>
